// The following two lines import the default Sencha Touch theme. If you are building
// a new theme, remove them and the add your own CSS on top of the base CSS (which
// is already included in your app.json file).

$base-gradient:'glossy';
//$base-color: rgb(8, 73, 118);
$base-color: rgb(17, 113, 178);

$list-active-color:rgb(8, 73, 118);
@import 'sencha-touch/default';
@import 'sencha-touch/default/all';

// Custom code goes here..


// Examples of using the icon mixin:
// @include icon('user');



.map-view{
	font-family:georgia;
	text-align:center;
}

.profile
{
	font-family:georgia;	
	font-size: 15px;
	text-align: left;
	border-collapse: collapse;
	//background:url('images/blue2.jpg');
	background-color: rgb(8, 73, 118);
		th
	{
		font-size: 20px;
		font-weight: normal;
		padding: 8px;
		//background:url('images/blue2.jpg');
		background-color: rgb(8, 73, 118);
		color:white;
		text-align: center;
	}
		td
	{
		padding: 8px; 
		color:white;
		//background:url('images/blue2.jpg');
		background-color: rgb(8, 73, 118);
		width:50%;
	}
		tfoot tr td
	{
		background: #e8edff;
		font-size: 12px;
		color:white;
	}
		tbody tr:hover td
	{
		//background:url('images/blue2.jpg');
		background-color: rgb(8, 73, 118);
		color:white;
	}
	 
	img{
		height:50px;
		width:50px;
	}

		h1{
		&.header{
			padding: 10px;
			text-align:center;
			font-size:30px;
			font-weight:bold;
			color:white;
			font-family:georgia;		
		}
	}

	.option-list{
		//background:url('images/blue2.jpg');
		background-color: rgb(8, 73, 118);
		color:white;
		font-family:georgia;
	}


}

.loc-filter{
	color: white;
	font-family:georgia;
	font-size: 15px;	
	//background:url('images/blue2.jpg');
	background-color: rgb(8, 73, 118);
	font-family:georgia;
	h1{
		&.heading{
			padding: 8px;
			text-align:center;
			font-size: 20px;
		}
	}

}


.choice-view{
	//background:url('images/blue2.jpg');
	background-color: rgb(8, 73, 118);
	h1{
		&.header{
			padding: 10px;
			text-align:center;
			font-size:30px;
			font-weight:bold;
			color:white;
			font-family:georgia;		
		}
		&.app-name{
			padding: 6px;
			text-align:center;
			font-size:40px;
			font-weight:bold;
			color:white;
			font-family:georgia;
		}
	}

.option-list{
		//background:url('images/blue2.jpg');
		background-color: rgb(8, 73, 118);
		color:white;
		font-family:georgia;
	}

.item{
	font-weight:bold;
	color:white;
	font-family:georgia;
	text-align:center;
	border-left:1px solid white;
	border-right:1px solid white;
	img{
		height:50px;
		width:50px;
	}
}

.choice-table{
	td{
		height:20px;
		width:20px;
		background:white;
	}
}
}

.login{
	//background:url('images/blue2.jpg');
	background-color: rgb(8, 73, 118);
	h1{
		&.header{
			padding: 10px;
			text-align:center;
			font-size:30px;
			font-weight:bold;
			color:white;
			font-family:georgia;		
		}
	}

.item{

	//background:url('images/blue2.jpg');
	background: rgb(8, 73, 118);
	font-weight:bold;
	font-family:georgia;
	text-align:center;
	color:white;
}

.button-look{
	background: rgb(8, 73, 118);
	font-weight:bold;
	font-family:georgia;
	text-align:center;
	color:white;
	padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}

}

////////////////////////
.glossy {
	.image-wrap {
		-webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.5);
		-moz-box-shadow: inset 0 -1px 0 rgba(0,0,0,.5);
		box-shadow: inset 0 -1px 0 rgba(0,0,0,.5);

		-webkit-border-radius: 20px;
		-moz-border-radius: 20px;
		border-radius: 20px;
	}

	&.image-wrap:after {
			position: absolute;
			content: ' ';
			width: 100%;
			height: 50%;
			top: 0;
			left: 0;

			-webkit-border-radius: 20px;
			-moz-border-radius: 20px;
			border-radius: 20px;

			background: -moz-linear-gradient(top, rgba(255,255,255,0.7) 0%, rgba(255,255,255,.1) 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.7)), color-stop(100%,rgba(255,255,255,.1)));
			background: linear-gradient(top, rgba(255,255,255,0.7) 0%,rgba(255,255,255,.1) 100%);
		}
}

.info-window{
	//background: rgb(8, 73, 118);
	//background: rgb(98, 162, 205);
	background:rgb(140, 181, 252);
	font-family:georgia;
	color:white;
		padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  border-radius:8px;
}

.direction{
	background: rgb(8, 73, 118);
	font-family:georgia;
	text-align:center;
	color:white;
	padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  border-radius:4px;
}

.more-details{
	background: rgb(8, 73, 118);
	font-family:georgia;
	text-align:center;
	color:white;
	padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  border-radius:4px;
}

.call{
	background: rgb(8, 73, 118);
	font-family:georgia;
	text-align:center;
	color:white;
	padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  border-radius:4px;
  a{
  color:white;
}
}

///////////////////////////



////////////////////////

.viewport-inner {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.mainmenu {
  background: #1d1d1d;
  //background:#80B2E6;
  font-family:georgia;
}

.mainmenu .divider {
  font-size: 0.7em;
  color: #a3a3a3;
  padding: 0.2em 1em;
  border-bottom: 1px solid #161616;
  background: #1d1d1d;
  //background:#80B2E6;
}

.x-button-mainmenu, .x-button-login {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  background-image: none;
  background-color: #262626;
  //background-color:#80B2E6;
  border-top: 1px solid #313131;
  border-bottom: 1px solid #161616;
  border-width: 1px 0;
  height: 3em;
}

.x-button-mainmenu, .x-button-mainmenu .x-button-label, .x-button-mainmenu .x-badge, .x-button-login, .x-button-login .x-button-label, .x-button-login .x-badge {
  color: #FFF;
  text-align: left;
}

.x-button-mainmenu.x-button-pressing, .x-button-login.x-button-pressing {
  background-color: #000;
  background-image: none;
}

.x-button-mainmenu.x-button-pressing, .x-button-mainmenu.x-button-pressing .x-button-label, .x-button-mainmenu.x-button-pressing .x-badge, .x-button-login.x-button-pressing, .x-button-login.x-button-pressing .x-button-label, .x-button-login.x-button-pressing .x-badge {
  color: #888;
}